1. Feet to Miles,
2. Feet to Meters,
3. Meters to Feet,
4. Meters to Miles,
5. Square Feet to Acres,
6. Square Meters to Acres,
7. Square Miles to Acres, and
8. Hectares to Acres.

####  Feet to Miles

In [10]:
def ft2mi(ft):
    mi = ft*0.000189394
    print(str(ft) + "ft = " + str(mi) + 'mi')

#### Feet to Meters

In [4]:
def ft2m(ft):
    m = ft*0.304800097536
    print(str(ft) + "ft = " + str(m) + 'm')

#### Meters to Feet

In [6]:
def m2ft(m):
    ft = m*3.28084
    print(str(m) + "m = " + str(ft) + 'ft')

#### Meters to Miles

In [7]:
def m2mi(m):
    mi = m*0.000621371
    print(str(m) + "m = " + str(mi) + 'mi')

#### Square Feet to Acres

In [8]:
def sqft2acre(sqft):
    acre = sqft*43560
    print(str(sqft) + "ft2 = " + str(acre) + 'acre')

#### Square Meters to Acres

In [9]:
def sq_m2acre(sq_m):
    acre = sq_m*4046.86
    print(str(sq_m) + "m2 = " + str(acre) + 'acre')

#### Square Miles to Acres

In [15]:
def sq_mi2acre(sq_mi):
    acre = sq_mi*0.0015625
    print(str(sq_mi) + "mi2 = " + str(acre) + 'acre')

#### Hectares to Acres

In [16]:
def hect2acre(hect):
    acre = hect*0.404686
    print(str(hect) + "hectares = " + str(acre) + 'acre')

In [ ]:
print('Welcome to the unit converter')
print('Choose the function you want to use')
print('1. Feet to Miles')
print('2. Feet to Meters')
print('3. Meters to Feet')
print('4. Meters to Miles')
print('5. Square Feet to Acres')
print('6. Square Meters to Acres')
print('7. Square Miles to Acres')
print('8. Hectares to Acres')


while True:
    try:
        function = int(input("Enter a number between 1 and 8: "))
    except ValueError:
        print("Invalid number")
    else:
        break

    try:
        number = int(input("Enter the value that you want to convert: "))
    except ValueError:
        print("Invalid number")   

    else:
        break
    
    if function == 1:
        ft2mi(number)
    elif function == 2:
        ft2m(number)
    elif function == 3:
        m2ft(number)
    elif function == 4:
        m2mi(number)
    elif function == 5:
        sqft2acre(number)
    elif function == 6:
        sq_m2acre(number)
    elif function == 7:
        sq_mi2acre(number)    
    elif function == 8:
        hect2acre(number)

In [23]:
function = input("Enter a number between 1 and 8 (or press 'E' to escape): ")

Enter a number between 1 and 8 (or press 'E' to escape): E

In [22]:
function

'3'

In [24]:
function

'E'